*{
    padding: 0px;
    margin: 0px;
    
}
body{
    background-image: url("https://images.pexels.com/photos/3611882/pexels-photo-3611882.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.head{
    background-image: linear-gradient(180deg, #B784B7, #E493B3);
    position: sticky;
}
.head1{
    border: none;
    background-image: url('https://images.pexels.com/photos/943905/pexels-photo-943905.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.head1:hover{
    border: none;
    background-image: url('https://images.pexels.com/photos/1668928/pexels-photo-1668928.jpeg?auto=compress&cs=tinysrgb&w=600');
}


.inputtag{
    width: 85rem;
    margin: 10px !important;
    background-color: transparent;
    color: white;
}

button{
    width: 8%;
    height: 20% !important;
}
.paro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}


.image_style{
    border-radius: 20px;
}


@media screen and (max-width: 768px) {
    *{
        padding: 0px;
         margin: 0px;
    }
    .head h1,p{
         display: flex;
         justify-content: center;
         
    }
    .head1{
        position: sticky;
    }
    .image-container input{
         width: 72%;
         height: 100%;
 
    }
    .image-container button{
         width: 70px;
         height: 100%;
         padding: 0px;
         margin: 0px;
    }
    .image_style{
        width: 350px;
        border-radius: 20px;

    }

  }