*{
    padding: 0px;
    margin: 0px;
    
}
/* body{
    background-image:
    
} */
.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.head{
    background-image: linear-gradient(180deg, #B784B7, #E493B3);
    padding: 75px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.head h1{
    font-size: 45px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: white;
    opacity: 1;
}
.navbar-brand{
    color: black;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form p{
    padding-left: 30px;
    font-size: 15px;
    padding-top: 10px;
}
form p:hover{
    color: cadetblue;
}

.head1{
    border: none;
    height: 400px;
    background-image: url('https://images.pexels.com/photos/1182338/pexels-photo-1182338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    opacity: 4;
    background-position: bottom;
    background-repeat: no-repeat;
}




.inputtag{
    width: 40rem;
    margin: 8px !important;
    border: none;
    border-radius: 10px;
    color: black;
}
.inputbutton{
    padding: 5px;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;

}
.inputbutton:hover{
    background-color: rgb(39, 31, 31);
    color: cadetblue;
}

button{
    width: 100px !important;
    height: 20% !important;
}
.paro{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}


.image_style{
    margin-left: 50px;
    border-radius: 20px !important;
    width: 350px;
    height: 450px;
    object-fit: cover;
}
.image_style:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transform: scale(0.9);
    transition: 0.5s;

}


@media screen and (max-width: 768px) {
    *{
        padding: 0px;
         margin: 0px;
    }
    .head h1,p{
         display: flex;
         justify-content: center;
         
    }
    .head1{
        position: sticky;
    }
    .image-container input{
         width: 72%;
         height: 100%;
 
    }
    .image-container button{
         width: 70px;
         height: 100%;
         padding: 0px;
         margin: 0px;
    }
    .image_style{
        width: 350px;
        border-radius: 20px;

    }

  }